### SASS ###
### SASS Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache

### Compass ###
.sass-cache

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
# Node.JS Modules
node_modules
# Index MacOSX
.DS_Store

#### Python and Django ###
venv
