/* line 1, ../../../shurikend/sass/app/app.scss */
#leftCulttume {
  padding-top: 200px;
}

/* line 4, ../../../shurikend/sass/app/app.scss */
#rightCulttume {
  padding-top: 0;
}

/**
 * Grid container
 */
/* line 11, ../../../shurikend/sass/app/app.scss */
#imgs {
  list-style-type: none;
  position: relative;
  /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  /*
  * Grid items
  */
}
/* line 18, ../../../shurikend/sass/app/app.scss */
#imgs li {
  width: 170px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: none;
  /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
  padding: 4px;
  /**
   * Some extra styles to randomize heights of grid items.
  */
}
/* line 29, ../../../shurikend/sass/app/app.scss */
#imgs li img {
  display: block;
}
/* line 31, ../../../shurikend/sass/app/app.scss */
#imgs li p {
  color: #666;
  font-size: 12px;
  margin: 7px 0 0 7px;
}
/* line 39, ../../../shurikend/sass/app/app.scss */
#imgs li ali:nth-child(3n) {
  height: 175px;
}
/* line 41, ../../../shurikend/sass/app/app.scss */
#imgs li ali:nth-child(4n-3) {
  padding-bottom: 30px;
}
/* line 43, ../../../shurikend/sass/app/app.scss */
#imgs li ali:nth-child(5n) {
  height: 250px;
}

/**
 * Grid item text
 */
/** General page styling **/
/* line 54, ../../../shurikend/sass/app/app.scss */
html {
  background-color: #e9e9e9;
}

/* line 56, ../../../shurikend/sass/app/app.scss */
ul li {
  font-size: inherit !important;
}

/* line 58, ../../../shurikend/sass/app/app.scss */
#main {
  padding: 30px 0 30px 0;
}

/* line 61, ../../../shurikend/sass/app/app.scss */
header h1 {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0 3px 0;
}
/* line 68, ../../../shurikend/sass/app/app.scss */
header p {
  text-align: center;
  font-size: 13px;
  color: #777;
  margin: 0;
}

/* stepy -------------------------------------------- */
/* line 77, ../../../shurikend/sass/app/app.scss */
.stepy-header {
  list-style: none;
  padding: 0;
  width: 400px;
}
/* line 82, ../../../shurikend/sass/app/app.scss */
.stepy-header li {
  cursor: pointer;
  float: left;
  padding: 10px;
}
/* line 87, ../../../shurikend/sass/app/app.scss */
.stepy-header li .stepy-error {
  background: url("../demo/img/error.png") no-repeat right top;
}
/* line 89, ../../../shurikend/sass/app/app.scss */
.stepy-header li div {
  color: #CCC;
  font: bold 2.8em inherit;
  text-shadow: 1px 1px #F8F8F8;
}
/* line 95, ../../../shurikend/sass/app/app.scss */
.stepy-header li .stepy-active div {
  color: #369;
  cursor: auto;
}
/* line 101, ../../../shurikend/sass/app/app.scss */
.stepy-header li span {
  color: #CCC;
  font: 1.4em inherit;
}
/* line 107, ../../../shurikend/sass/app/app.scss */
.stepy-header li .stepy-active span {
  color: #BBB;
}

/* line 112, ../../../shurikend/sass/app/app.scss */
.stepy-step {
  border: 1px solid #BBB;
  clear: left;
  padding: 15px 20px;
  width: 430px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -opera-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 123, ../../../shurikend/sass/app/app.scss */
.stepy-step legend {
  color: #4080BF;
  font: bold 1.8em inherit;
  letter-spacing: .7px;
  padding: 0 2px 3px;
}
/* line 130, ../../../shurikend/sass/app/app.scss */
.stepy-step label {
  color: #222;
  display: block;
  font: bold 1.5em inherit;
  letter-spacing: .7px;
  margin: 10px 0 3px 1px;
}
/* line 138, ../../../shurikend/sass/app/app.scss */
.stepy-step input, .stepy-step textarea, .stepy-step select {
  border: 1px solid #999;
  border-radius: 5px;
  color: #333;
  font-size: inherit;
  height: 27px;
  margin-bottom: 12px;
  padding: 3px;
  width: 90%;
}
/* line 149, ../../../shurikend/sass/app/app.scss */
.stepy-step select {
  height: 34px;
  padding-top: 5px;
}
/* line 154, ../../../shurikend/sass/app/app.scss */
.stepy-step textarea {
  height: 100px;
}

/* line 157, ../../../shurikend/sass/app/app.scss */
.stepy-navigator {
  height: 33px;
  margin-top: 20px;
}

/* line 161, ../../../shurikend/sass/app/app.scss */
.button-back {
  float: left;
}

/* line 163, ../../../shurikend/sass/app/app.scss */
.button-next, .stepy-navigator input[type="submit"] {
  float: right;
}

/* .button-back,*/
/* line 167, ../../../shurikend/sass/app/app.scss */
.button-next,
.stepy-navigator input[type="submit"] {
  border: 1px solid #CCC;
  color: #7F0055;
  cursor: pointer;
  font: 1.2em inherit;
  padding: 7px 15px 8px;
  text-decoration: none;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -opera-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 181, ../../../shurikend/sass/app/app.scss */
.stepy-navigator input[type="submit"] {
  background-color: transparent;
  border-color: #CCC;
  margin-bottom: 0;
  padding: 7px 15px 24px;
  width: 90px;
}

/* .button-back:hover, */
/* line 191, ../../../shurikend/sass/app/app.scss */
.button-next:hover,
.stepy-navigator input[type="submit"]:hover {
  border-color: #BBB;
  color: #bb0077;
}

/* this class is defined by the developer */
/* line 193, ../../../shurikend/sass/app/app.scss */
.stepy-finish input[type="submit"] {
  font-size: inherit;
  height: 45px;
  margin-top: 10px;
  width: 120px;
}

/* Progress Bar */
/* line 201, ../../../shurikend/sass/app/app.scss */
#progressBar {
  width: 400px;
  height: 22px;
  border: 2px solid #F8F8F8;
  background-color: #ffffff;
}
/* line 207, ../../../shurikend/sass/app/app.scss */
#progressBar div {
  height: 100%;
  color: #fff;
  text-align: right;
  line-height: 22px;
  /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #154DAD;
}
