{% extends "base.html" %}
{% load url from future %}
{% block head %}
  {% load static from staticfiles %}
    <link rel="shortcut icon" href="{% static "favicon/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,700' rel='stylesheet' type='text/css'>

    <script src="https://login.persona.org/include.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<!-- header  -->
	<header class="fixed">

      <nav id="sub-header" class="top-bar" data-topbar>
        <!-- Here is the logo -->
        <ul class="title-area">
          <li class="name">
            <h1><a href="#"><img src="assets/img/img-culttume.png" alt="Culttu.me"></a>
</h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <div class="photo-user-mini">
            <ul class="right">
              <li class="has-dropdown">
              <a href="#"><img src="assets/img/mini-photo-user-blanc.png" alt=""></a>
                <ul class="dropdown">
                  <li><a href="index.html">Cerrar Sesión!</a></li>
                  <li><a href="edit-profile.html">Editar Perfil</a></li>
                </ul>   
            </li>
            </ul>
          </div>
        </section>
      </nav>
    </header>
	<!--  end header  -->
	
	<!--  wrapper  -->
	<div id="wrapper">

    <div id="float-menu">
      <div id='css-menu'>
          <ul>
            <li class='active'><a href='#'><span>Mi perfil</span></a></li>
            <li class='has-sub'><a href='#'><span>Inicio</span></a>
                <ul>
                  <li><a href='my-creations.html'><span>Ver creaciones</span></a></li>
                </ul>
            </li>
            <li class='has-sub'><a href='#'><span>Mi portafolio</span></a>
                <ul>
                  <li><a href='my-portfolio.html'><span>Ver mi portafolio</span></a></li>
                </ul>
            </li>
            <li class='has-sub'><a href='#'><span>Eventos</span></a>
                <ul>
                  <li><a href='events.html'><span>Ver todos los eventos</span></a></li>
                </ul>
            </li>
            <li class='last'><a href='#'><span>Campañas</span></a>
              <ul>
                <li><a href='campaigns.html'><span>Ver lista de campañas</span></a></li>
              </ul>
            </li>
            <li class='last'><a href='#'><span>Tienda</span></a>
              <ul>
                <li><a href='#'><span>Ir a la tienda</span></a></li>
              </ul>
            </li>
        </ul>
      </div>
    </div>


    <div id="section-general">

      <div id="section-aboutme">
        <img src="assets/img/without-photo.png" alt="">
        <div id="description-aboutme">
          <h1>Edwin Gutiérrez</h1>
        </div>  
      </div>

      <div id="section-aboutme2">
        <div class="description-aboutme">
          <h1>Acerca de Mí</h1>
          <hr>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, vero, laudantium optio omnis adipisci cum fuga facilis explicabo a fugiat totam libero in voluptate fugit numquam architecto minima accusamus nesciunt.
        </p>  
        </div> 
      </div>
      
      <div id="section-social-profile">
        <div class="menu">
          <ul>
            <li><a href=""><img src="assets/img/ico-fb.png" alt=""></a></li>
            <li><a href=""><img src="assets/img/ico-g.png" alt=""></a></li>
            <li><a href=""><img src="assets/img/ico-tw.png" alt=""></a></li>
          </ul>
        </div>
      </div>

      <div id="section-followers">
        <div class="description-aboutme">
          <div class="menu">
          <h1>Perfil</h1>
          <hr>
          <ul>
            <li><a href=""><img src="assets/img/ico-user-photo.png" alt=""></a></li>
            <li><a href=""><img src="assets/img/ico-user-photo.png" alt="">Harley Santos</a></li>
            <li><a href=""><img src="assets/img/ico-user-photo.png" alt="">Alejandro Romero</a></li>
            <li><a href=""><img src="assets/img/ico-user-photo.png" alt="">John Farfan</a></li>
          </ul>
          </div>
        </div>
      </div>
      <div id="section-statistics">
        <img src="assets/img/without-stadistic.png" alt="">
      </div>
    </div>
  </div>
    
	<!-- end wrapper  -->

		<!--  footer -->
		<footer>
		  <!--Is this div contains all the footer sections -->
		  <div class="footer-content">
			<!-- In this section of the footer are the sponsor's logos -->
			<section class="sponsors-logos">
			  <a href="http://bit.ly/1noonSk" target="_blank">
				<article class="logo-sponsor" id="img-presidencia"></article><!-- sponsor's logo content is defined by his ID -->
			  </a>
			  <a href="http://bit.ly/1gZKGbR" target="_blank">
				<article class="logo-sponsor" id="img-fondo-emprender"></article>
			  </a>
			  <a href="http://bit.ly/P384yf" target="_blank">
				<article class="logo-sponsor" id="img-sena"></article>
			  </a>
			  <a href="http://bit.ly/1p6ZhMk" target="_blank">
				<article class="logo-sponsor" id="img-fonade"></article>
			  </a>
			  <br />
			  <a href="http://bit.ly/1t5i7Dj" target="_blank">
				<article class="logo-sponsor" id="img-emprendetic2"></article>
			  </a>
			  <a href="http://bit.ly/1iU7QTi" target="_blank">
				<article class="logo-sponsor" id="img-parquesoft"></article>
			  </a>
			  <a href="http://bit.ly/1nooHRf" target="_blank">
				<article class="logo-sponsor" id="img-tecnoparque"></article>
			  </a>
			  <a href="http://bit.ly/1gBr5mf" target="_blank">
				<article id="img-c3-d"></article>
			  </a>
			  <a href="http://bit.ly/P38jJD" target="_blank">
				<article class="logo-sponsor" id="img-apssco"></article>
			  </a>
			  <a href="http://bit.ly/1jI1LLQ" target="_blank">
				<article class="logo-sponsor" id="img-ventures"></article>
			  </a>
			</section> <!-- End Section logos Sponsors -->

			<!-- In this section you will find the navigation map and links to other resources -->
			<section class="nav-map">

			  <!-- the article 1 content it's about culttu.me website -->
			  <article class="sub-nav-map">
				<ul>
				  <li><h6>Culttu.me</h6></li>
				  <li><a href="http://bit.ly/1eEoCsN" target="_blank">Nosotros</a></li>
				  <li><a href="http://bit.ly/1iU8PmG" target="_blank">Objetivos</a></li>
				  <li><a href="#" target="_blank">Servicios</a></li>
				  <li><a href="#" target="_blank">FAQs</a></li>
				</ul>
			  </article>

			  <!-- the article 2 content it's about culttume's social networks -->
			  <article class="sub-nav-map">
				<ul>
				  <li> <h6>Redes</h6> </li>
				  <li><a href="http://on.fb.me/1m7XvpN" target="_blank">Facebook</a></li>
				  <li><a href="http://bit.ly/1hI1JVK" target="_blank">Twitter</a></li>
				  <li><a href="http://bit.ly/1iU97tG" target="_blank">Blog</a></li>
				</ul>
			  </article>

			  <!-- the article 3 content it's about Ágilapps -->
			  <article class="sub-nav-map">
				<ul>
				  <li> <h6>Ágilapps</h6> </li>
				  <li><a href="http://bit.ly/1qYrpwU" target="_blank">Website</a></li>
				</ul>
			  </article>

			  <!-- the article 4 content it's about legal terms and more -->
			  <article class="sub-nav-map">
				<ul>
				  <li> <h6>Guía</h6> </li>
				  <li><a href="http://bit.ly/1qYrpwU" target="_blank">Unete a Culttu.me</a></li>
				  <li><a href="#" target="_blank">Terminos y condiciones</a></li>
				  <li><a href="#" target="_blank">Copyright</a></li>
				</ul>
			  </article>
			</section> <!--  end nav-map -->
			<!-- This label it's about copyright of culttume -->
			<label class="copyright postfix">Derechos reservados - Copyright © 2014 - Táctica Marketing StarUp S.A.S</label>
		  </div>
		</footer>
		<!-- end footer  -->
{% endblock %}

{% block scripts %}

<!--Scripts-->
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/foundation/foundation.js" %}"></script>
    <script src="{% static "js/foundation/foundation.reveal.js" %}"></script>
    <script src="{% static "js/foundation/foundation.topbar.js" %}"></script>
    <script src="{% static "js/vendor/jquery.leanModal.min.js" %}"></script>
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
    <script src="{% static "js/foundation.min.js" %}"></script>
    <script src="{% static "js/login.js" %}"></script>
    <script>
      $(document).foundation();
      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
    <script type="text/javascript">
    $(function(){
      $(document).on('click', 'a.disconnect', function(e){
        e.preventDefault();
        $('form#disconnect-form').attr('action', $(this).attr('href')).submit();
      });
    });
    </script>
{% endblock %}