extends layout

block content
	script
		printRegisterCode = 'cama';

	ol(id='firstTip')
		li(data-id='email', class='custom')
			h5 ¡Regístrate es Fácil!

	div(id='wrongEmail', class='reveal-modal')
		span ¡Bienvenido a culttu.me! 
		br
		span Tu cuenta de correo ya esta inscrita

	div(id='moreData', class='reveal-modal')
		div(class='row')
			div(class='twelve columns')
				h5 Estado de Avance
			div(class='twelve columns')
				div(id="progressBar")
					div
		div(class='row')
			br
			div(class='twelve columns')
				div(class="stepy-error")
		div(class='row')
			div(class='twelve columns')
				form(id='allInfo', class='custom')
					fieldset(title='Paso 1')
						legend Selecciona tu Perfil en culttu.me
						label ¿Como te enteraste de culttu.me?
						select(id='askAbout', name='askAbout')
							option(selected) Escoge una opción
							option Twitter
							option Facebook
							option Google
							option Bing
							option Yahoo!
							option ¡Por un Amig@!
						label Selecciona tu Perfil
						select(id='profile', name='profile')
							option(selected) Escoge uno
							option Artista/Creativo 
							option Seguidor/Fan
							// option Patrocinador
						div(id='msgRegisterCode')
						input(type='text',name='registerCode', placeholder='8 caracteres', id='registerCode', class='required')
					fieldset(title='Paso 2')
						legend Algunos Datos más
						div(id='dataInfo')
					fieldset(title='Paso 3')
						legend ¡Ya casi terminamos!
						div(id='dataValidation')
					input(class="stepy-finish", type="submit", value="Finalizar!")

	div(id='congratulation', class='reveal-modal')
		div(class='row')
			div(class='twelve columns')
				div(id='congratulationDetail')

	div(class='row collapse', id='container')
		div(class='twelve columns')
			div(class='four columns')
				section(id='leftCulttume')
					div(class='ten columns')
						img(src='./img/logo.png', alt='logo culttume')
					div(class='ten columns')
						h5(class="no-marg-top subheader") "la experiencia divertida y social de seguir tu arte y artistas favoritos"
					div(id='registrationForm', class='twelve columns')
						form(id='registerEmail')
							div#results
								p#status-message
							div(id='enterEmail')
								div(class='eight columns')
									input(type='text', name='email', placeholder='ingresa tu correo', id='email', class='required')
								div(class='four columns')
									a(id='register', class='normal button expand postfix') Enviar
					div(class='twelve columns')
						h5
							small Al suscribirme, acepto los términos y condiciones*
					div(id='social', class='twelve columns')
						div(class='one columns push-two')
							a(href='mailto:culttu.me@gmail.com')
								img(src='./img/social/1.png', alt='email culttume')
						div(class='one columns offset-by-one push-two')
							a(href='http://on.fb.me/18j1aN1')
								img(src='./img/social/2.png', alt='facebook culttume')
						div(class='one columns offset-by-one push-two')
							a(href='http://bit.ly/1ayTHu9')
								img(src='./img/social/3.png', alt='twitter culttume')
						div(class='one columns offset-by-one pull-three')
							a(href='http://linkd.in/13jzDtP')
								img(src='./img/social/4.png', alt='linkedin culttume')	

			div(class='seven columns')
				section(id='rightCulttume')
					ul(id='imgs')
						li
							img(src='../img/artists/10.jpg', alt='logo culttume')
						li
							img(src='./img/artists/11.jpg', alt='logo culttume')
						li
							img(src='./img/artists/2.jpg', alt='logo culttume')
						li
							img(src='../img/artists/8.jpg', alt='logo culttume')
						li
							img(src='./img/artists/4.jpg', alt='logo culttume')
						li
							img(src='./img/artists/5.jpg', alt='logo culttume')
						li
							img(src='../img/artists/12.jpg', alt='logo culttume')
						li
							img(src='./img/artists/13.jpg', alt='logo culttume')
						li
							img(src='./img/artists/3.jpg', alt='logo culttume')
						li
							img(src='./img/artists/14.jpg', alt='logo culttume')
						li
							img(src='./img/artists/15.jpg', alt='logo culttume')

	footer(id='footerCulttume')
		div(class='row collapse')
			div(class='twelve columns')
				hr(class='lineFooterCulttume')
			div(class='twelve columns')
				div(class='one columns')
					img(src='./img/footer/1.png')
				div(class='two columns')
					a(href='http://bit.ly/15dWjcO')
						img(src='./img/footer/2.png')
				div(class='one columns')
					img(src='./img/footer/3.png')
				div(class='two columns')
					a(href='http://bit.ly/121bdzb')
						img(src='./img/footer/4.png')
				div(class='one columns')
					a(href='http://bit.ly/17Rtbfu')
						img(src='./img/footer/5.png')
				div(class='three columns')
					a(href='http://bit.ly/14LnNVk')
						img(src='./img/footer/6.png')
				div(class='two columns')
					a(href='http://bit.ly/16MgzSg')
						img(src='./img/footer/7.png')
