extends layout

block content	
	div(class='row collapse', id='container')
		div(class='twelve columns')
			div(class='four columns')
				section(id='leftCulttume')
					div(class='ten columns')
						img(src='./img/logo.png', alt='logo culttume')
					div(class='ten columns')
						h5(class="no-marg-top subheader") "la experiencia divertida y social de seguir tu arte y artistas favoritos"
					div(id='registrationForm', class='twelve columns')
						form(id='registerEmail')
							div#results
								p#status-message
							div(id='enterEmail')
								div(class='eight columns')
									input(type='text', name='email', placeholder='ingresa tu correo', id='email', class='required')
								div(class='four columns')
									a(id='register', class='normal button expand postfix') Enviar
					div(class='twelve columns')
						p
							a(id="openTermsandConditions") Al suscribirme, acepto los términos y condiciones*
					div(id='social', class='twelve columns')
						div(class='one columns push-two')
							a(href='mailto:culttu.me@gmail.com', target='_blank')
								img(src='./img/social/1.png', alt='email culttume')
						div(class='one columns offset-by-one push-two')
							a(href='http://on.fb.me/18j1aN1', target='_blank')
								img(src='./img/social/2.png', alt='facebook culttume')
						div(class='one columns offset-by-one push-two')
							a(href='http://bit.ly/1ayTHu9', target='_blank')
								img(src='./img/social/3.png', alt='twitter culttume')
						div(class='one columns offset-by-one pull-three')
							a(href='http://linkd.in/13jzDtP', target='_blank')
								img(src='./img/social/4.png', alt='linkedin culttume')	

			div(class='seven columns')
				div(id='rightCulttume')
					ul(id='imgs', class='da-thumbs')
						li
							img(src='../img/artists/10.jpg', alt='logo culttume')
							div
								h5.subheader Fotógrafo: Elbis Estid Bonilla
						li
							img(src='./img/artists/11.jpg', alt='logo culttume')
							div
								h5.subheader Fotógrafo: Elbis Estid Bonilla
						li
							img(src='./img/artists/2.jpg', alt='logo culttume')
							div
								h5.subheader Fotografía: Momento en el estudio
						li
							img(src='../img/artists/8.jpg', alt='logo culttume')
							div
								h4.subheader Fotografía: Sonidos Afro
						li
							img(src='./img/artists/4.jpg', alt='logo culttume')
							div
								h5.subheader Director de Cine: Nicolas Botero
						li
							img(src='./img/artists/5.jpg', alt='logo culttume')
							div
								h6.subheader Ilustrador: Andres Barrientos 
								h6.subheader Título: Corto  en Agosto
						li
							img(src='../img/artists/12.jpg', alt='logo culttume')
							div
								h5.subheader Fotógrafo: Elbis Estid Bonilla
						li
							img(src='./img/artists/13.jpg', alt='logo culttume')
							div
								h5.subheader Escena: Artistas Tablas
						li
							img(src='./img/artists/3.jpg', alt='logo culttume')
							div
								h5.subheader Actriz: Lilo de la Vega
						li
							img(src='./img/artists/14.jpg', alt='logo culttume')
							div
								h5.subheader Fotógrafo: Elbis Estid Bonilla
						li
							img(src='./img/artists/15.jpg', alt='logo culttume')
							div
								h5.subheader Fotógrafo: Elbis Estid Bonilla

	footer(id='footerCulttume')
		div(class='row collapse')
			div(class='twelve columns')
				hr(class='lineFooterCulttume')
			div(class='twelve columns')
				div(class='one columns')
					img(src='./img/footer/1c.png', width='60px')
				div(class='two columns')
					a(href='http://bit.ly/15dWjcO', target='_blank')
						img(src='./img/footer/2c.png', width='130px')
				div(class='one columns')
					img(src='./img/footer/3c.png', width='60px')
				div(class='two columns')
					a(href='http://bit.ly/121bdzb', target='_blank')
						img(src='./img/footer/4c.png', width='130px')
				div(class='one columns')
					a(href='http://bit.ly/17Rtbfu', target='_blank')
						img(src='./img/footer/5c.png')
				div(class='three columns')
					a(href='http://bit.ly/14LnNVk', target='_blank')
						img(src='./img/footer/6c.png', width='230px')
				div(class='two columns')
					a(href='http://bit.ly/16MgzSg', target='_blank')
						img(src='./img/footer/7c.png', width='130px')
			div(class='twelve columns')
				div(class='three columns')
					a(href='http://bit.ly/1evgdkX', target='_blank')
						img(src='./img/footer/8c.png', width='230px')
				div(class='five columns')
					a(href='http://bit.ly/Mq4P3E', target='_blank')
						img(src='./img/footer/9c.png', width='300px')
				div(class='two columns')
					a(href='http://bit.ly/Mq4P3E', target='_blank')
						img(src='./img/footer/10c.png', width='130px')

	ol(id='firstTip')
		li(data-id='email', class='custom')
			h6 ¡Regístrate es Fácil!

	div(id='wrongEmail', class='reveal-modal')
		span ¡Bienvenido a culttu.me! 
		br
		span Tu cuenta de correo ya esta inscrita

	div(id='moreData', class='reveal-modal')
		div(class='row')
			div(class='twelve columns')
				h5 Estado de Avance
			div(class='twelve columns')
				div(id="progressBar")
					div
		div(class='row')
			br
			div(class='twelve columns')
				div(class="stepy-error")
		div(class='row')
			div(class='twelve columns')
				form(id='allInfo', class='custom')
					fieldset(title='Paso 1')
						legend Selecciona tu Perfil en culttu.me
						label ¿Como te enteraste de culttu.me?
						select(id='askAbout', name='askAbout')
							option(selected) Escoge una opción
							option Twitter
							option Facebook
							option Google
							option Bing
							option Yahoo!
							option ¡Por un Amig@!
						label Selecciona tu Perfil
						select(id='profile', name='profile')
							option(selected) Escoge uno
							option Artista/Creativo 
							option Seguidor/Fan
							// option Patrocinador
						div(id='msgRegisterCode')
						input(type='text',name='registerCode', placeholder='8 caracteres', id='registerCode', class='required')
					fieldset(title='Paso 2')
						legend Algunos Datos más
						div(id='dataInfo')
					fieldset(title='Paso 3')
						legend ¡Ya casi terminamos!
						div(id='dataValidation')
					input(class="stepy-finish", type="submit", value="Finalizar!")

	div(id='congratulation', class='reveal-modal')
		div(class='row')
			div(class='twelve columns')
				div(id='congratulationDetail')

	div(id='termsandConditions', class='reveal-modal')
		div(class='row')
			div(class='twelve columns')
				div(id='textTermsandConditions', class='divToScroll divWithScroll')
					h2(class='subheader') Términos y condiciones de culttu.me
					h5(class='subheader') Los presentes términos y condiciones generales de uso, que rigen para todos los servicios y comunicaciones, actuales o que sean incluidos en el futuro, dentro de culttu.me, y abarcan a todos aquellos individuos que, ya sean Usuarios o no, accedan, permanezcan o hagan uso del Servicio prestado por la Plataforma.
					h5(class='subheader') culttu.me se reserva el derecho a modificar en cualquier momento y sin necesidad de previo aviso las Condiciones Generales, las cuales entrarán en vigencia a partir de su suscripción al plataforma fijación en el plataforma. Dichas modificaciones se considerarán aceptadas por el solo hecho de hacer uso del servicio. Se recomienda la visita periódica de la sección de términos y condiciones.
					h4(class='subheader') Definiciones
					h5(class='subheader') Usuarios: Todas las personas naturales y jurídicas que visiten el plataforma web de culttu.me, se suscriban al plataforma web de culttu.me y sean participantes de manera directa de los eventos promovidos desde el plataforma Web de culttu.me.
					h5(class='subheader') culttu.me: Plataforma web especializada que ofrece diferentes servicios, para la promoción y comercialización de bienes y/o servicios de arte, cultura y creación digital. Con acceso a un marketplace donde confluyen artistas, marcas patrocinadoras y fans en una experiencia social de promoción y visibilización.
					h4(class='subheader') Condiciones básicos
					h5(class='subheader') El usuario es el único responsable por el uso que pueda hacer de los servicios que ofrece culttu.me, y por todo el contenido que reproduzca, publique y transforme a través del plataforma  culttu.me y por cualquier consecuencia que de ello se derive. Si eventualmente existiera un tercero que pretendiera alegar mejor derecho sobre algún contenido, el usuario se declara único responsable y se compromete a sanear cualquier situación irregular, asumiendo los valores y conceptos que le hubiere correspondido pagar o que le llegare a exigir a aquélla, así como a indemnizarla por cualquier perjuicio que por tal motivo se le llegare a causar. El Contenido que el usuario envíe, publique o reproduzca podrá ser visto por otros usuarios de través del plataforma y redes sociales de terceros a las que esté suscrito culttu.me.
					h4(class='subheader') Privacidad
					h5(class='subheader') Esta Política de Privacidad explica las prácticas en relación con el tratamiento de los datos personales de los usuarios del plataforma culttu.me, ajustadas a la Ley de Habeas Data vigente en Colombia. Por tanto, aquellos visitantes que estén sujetos a la jurisdicción de otros países no deben enviar información a través del plataforma de culttu.me y al hacerlo se acogen a lo establecido en la ley aplicable de Colombia. Al aceptar estos términos y condiciones, navegar por el plataforma de culttu.me y comunicarse electrónicamente con nosotros, el usuario otorga su consentimiento libre, previo y expreso, para que llevemos a cabo el uso de sus datos personales para enviarle información, publicidad, alertas sobre el uso de la plataforma, y publicación de la información entregada para tal fin, y los demás usos necesarios por parte de Culttu.me en los términos señalados en el presente documento y dando cumplimiento al régimen colombiano de protección de datos personales, contenido en la jurisprudencia de la Corte Constitucional y las normas que rigen o rijan posteriormente la materia.
					h4(class='subheader')  Suscripción
					h5(class='subheader') El usuario debe suscribirse en el plataforma culttu.me para poder acceder y participar en los diferentes servicios que ofrece culttu.me, de manera temporal o permanente.
					h4(class='subheader') Política de propiedad intelectual
					h5(class='subheader') El usuario es el titular de los derechos que le amparan sobre cualquier contenido que envíe, reproduzca o publique en el plataforma de culttu.me o a través de los mismos. Mediante el envío, la reproducción o la exposición de su contenido en los servicios o a través de los mismos, usted concede a culttu.me una licencia mundial, no-exclusiva y gratuita (así como el derecho de sub-licenciar) sobre el uso, copia, reproducción, procesamiento, adaptación, modificación, publicación, transmisión, exposición y distribución del contenido que publique  a través de cualquier medio o método de distribución presente o futuro que pertenezca a culttu.me.
					h4(class='subheader') Licencia sobre contenidos
					h5(class='subheader') EL usuario es el titular de los derechos de toda la información y contenidos que envíe a culttu.me, por tanto los derechos de propiedad intelectual amparan el contenido que envíe, reproduzca o exponga a través de culttu.me o mediante los servicios del plataforma. Mediante el envío, la reproducción o la exposición de su contenido a través de culttu.me de los contenidos propiedad, el usuario concede a culttu.me y a todos los demás usuarios suscritos una licencia mundial, no-exclusiva, gratuita y autoriza el derecho de sub-licenciar a un tercero sobre el uso, copia, reproducción, procesamiento, adaptación, modificación, publicación, transmisión, exposición y distribución de tal Contenido a través de cualquier medio o método de distribución presente o futuro.
					h4(class='subheader') Derechos de culttu.me
					h5(class='subheader') culttu.me es el titular de todos los derechos de propiedad intelectual generados de las formas gráficas, logos, signo nominativo, signo distintivo o marca, estructura del plataforma, botones, contenidos interactivos, contenidos en 3D, contenido informativo y todos los elementos que forman parte de la plataforma, por tanto, se reserva todos los derechos de autor y de propiedad industrial que tenga sobre todo la plataforma, los productos y servicios adicionales que culttu.me ofrece para sus usuarios.
					h5(class='subheader') Adicionalmente culttu.me  se reserva el derecho a suspender o eliminar a un usuario y eliminar las obras artísticas enviadas para su publicación en nuestras galerías, sin indemnización y en cualquier momento, debido al reporte de algún tercero de violación de derechos de autor o de violación de alguna licencia Creative Commons.
					h4(class='subheader') Vigencia
					h5(class='subheader') Estos términos y condiciones entran en vigencia para el usuario en el momento que se suscribe al plataforma web culttu.me y acepta el cumplimiento de los mismos, durante la vigencia de su suscripción hasta el momento en que solicite expresamente, por correo electrónico que den de baja su suscripción, o hasta el momento que sea dado de baja por el administrador del plataforma, como consecuencia del incumplimiento de los establecido en estas condiciones generales o por violación a la propiedad intelectual.
					h4(class='subheader') Ley aplicable
					h5(class='subheader') Toda diferencia que surjan entre las partes por concepto de la interpretación de estos términos y condiciones, se entiende que la normativa aplicable son las leyes vigentes de Colombia y de existir alguna controversia en la aplicación de los términos y condiciones serán dirimidas por un Tribunal de Arbitramento, el cual se sujetará a las disposiciones legales vigentes sobre el arbitramento de acuerdo con las siguientes reglas: 1) La organización interna del Tribunal Arbitral se regirá por las normas previstas por el Centro de Conciliación y Arbitraje de la Cámara de Comercio de Bogotá. 2) Estará integrado por un (1) árbitro designado de mutuo acuerdo y a  falta de acuerdo por sorteo realizado por la Cámara de Comercio de Bogotá, de su lista de árbitros, sino hay acuerdo entre las partes el nombramiento lo hará el Juez Civil del Circuito de Bogotá de acuerdo con lo establecido en el artículo 14 Numeral 4 de la Ley 1563 de 2012. 3) El laudo Arbitral será en Derecho. 4) El Tribunal  Arbitral funcionará en el Centro de Conciliación de la Cámara de Comercio de Bogotá.
		a(class="close-reveal-modal") &#215;

