extends layout

block content
	form(id="holala")
		div#results
		input(type='text', name='email', placeholder='ingresa tu correo', id='email')
		input(type='button', value='registrarme')#button
		input(type='button', value='lista')#button1