<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="content-language" content="en">
    <meta charset='utf-8'>
  {% block head %}{% endblock %}
  {% block head_scripts %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %} 
    <div class="container">
      <form method="post" action="" id="disconnect-form">{% csrf_token %}
      </form>
    </div>
    {% block scripts %}{% endblock %}
    <script>
      $(function(){
        $('form.uniForm').uniform();
      });
</script>
  </body>
</html>